header, #catching_phrase
{
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.6;
    width: 60%;
}

body
{
    background: url("../pictures/two_old_men.jpg") scroll no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

footer
{
    text-align: left;
    color: black;
    width: 50%;
    min-width: 400px;
    font-size: 90%;
    background-color: white;
    opacity: 0.6;
}

#form
{
    text-align: center;
    opacity: 0.7;
}

h1, p, body, footer, header, #form, #catching_phrase, #loading_icon
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

h1
{
    text-align: left;
    color: white;
    background-color: black;
    opacity: 0.6;
    width: 25%;
}

header, #catching_phrase, #form
{
    font-size: 120%;
    margin: auto;
}

#catching_phrase
{
    margin-top: 50px;
}

#logotitle
{
    display: flex;
    flex-wrap: wrap;
}

#loading_icon
{
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.7;
    width: 30%;
    font-size: 120%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.map
{
    height: 40%;
    max-height: 600px;
    width: 60%;
    max-width: 800px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.speech
{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-align: justify;
}

.summary
{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-align: justify;
}

.question
{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.answer
{
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.9;
    width: 60%;
    border: 3px white solid;
}

#answers
{
    text-align: center;
}