<html lang="fr">
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Bienvenue sur le site de Grandpy !</title>
      {% endif %}
      <meta charset="utf-8">
      <link rel="stylesheet" href="../css/gdpy_website.css" />
    </head>
    <body>
        
        {% block header %}
        {% endblock %}

        {% block main %}
        {% endblock %}

        {% block footer %}
        {% endblock %}        
      <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}"></script>        
    </body>
</html>