<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Bienvenue sur le site de Grandpy !</title>
      {% endif %}
    </head>
    <body>
        <div>Menu:
          <a href="{{ url_for('question') }}">Question</a>
          <a href="{{ url_for('answer') }}">Answer</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{% message %}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>