{% extends "base.html" %}

{% block title %}
<div id="logotitle">
    <img src="{{ url_for('static', filename='pictures/old-man.png') }}" alt="logo de Grandpy" title="icône de Webalys, sur iconfounder.com"/>
    <h1>Le site de Grandpy !</h1>
</div>
{% endblock %}


{% block header %}
<header class="introduction">
    Bienvenue sur mon site ! Je suis Grandpy, le papy encyclopédie ! </br>
    Indique-moi un lieu, et je te raconterai son histoire ou celle d'un monument proche...
</header>
{% endblock %}

{% block main %}
<main>
    <!-- A little welcoming sentence to greet the visitor. -->
    <div id="catching_phrase">Hé peuchère, mon petit ! Que veux-tu savoir aujourd'hui ?</div>
    <!-- The div below replaces the form when the app is searching for an answer. -->
    <p id='loading_icon'>
        Minute papillon ! Je réfléchis... <img src="{{ url_for('static', filename='pictures/loader.gif') }}" alt="logo d'attente" title="gif créé sur www.ajaxload.info"/>
    </p>
    <form id="form" method="POST">
        <!-- The user asks his question into this form. He can validate his input ("Et zou !" = submit) or erase it all("Oups..." = reset). -->
        {{ form.hidden_tag() }}
        {{ form.gp_question(size=100, placeholder="Je rédige ici ma question pour Grandpy...") }}
        {{ form.submit }}
    </form>
    <div id="answers">
    <!-- This div is where the different questions/answers will be added, and are lost when the page is refreshed or closed. -->
    </div>     
</main>
{% endblock %}

{% block footer %}
<footer>
    <!-- The different links pointing at my course, GitHub and LinkedIn profiles. -->
    Site créé par Matthias GIL dans le cadre du projet 7 du parcours Développeur d'Application Python d'Openclassrooms. cf : <a href="https://openclassrooms.com/fr/paths" title="liste des parcours OC">openclassrooms.com/fr/paths</a>
</br>
    Mon profil Github : <a href="https://github.com/herodote2242" title="Mon profil Github herodote2242">Lien github</a>
</br>
    Mon profil LinkedIn : <a href="https://www.linkedin.com/in/matthias-gil-389bb7150/" title="Mon profil LinkedIn">Lien LinkedIn</a>
</footer>
{% endblock %}
