{% extends "base.html" %}

{% block content %}
	<h1>Bonjour, petit garnement !</h1>
    <form action="/question" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.gp_question.label }}<br>
            {{ form.gp_question(size=100) }}<br>
            {% for error in form.gp_question.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
{% endblock %}
